.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(243, 239, 233);
  z-index: 10;
}
.navbar__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}
.navbar__logo {
  font-size: 2.5rem;
  color: rgb(0, 0, 0);
  cursor: pointer;
}
.navbar__logo-link {
  color: rgb(0, 0, 0);
}
.navbar__list {
  position: absolute;
  top: 80px;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: calc(100vh - 80px);
  transform: translateX(100%);
  opacity: 0;
  background-color: rgb(243, 239, 233);
  overflow: auto;
  transition: transform 0.4s, opacity 0.4s;
}
.navbar__item {
  margin-top: 1.5em;
  font-size: 2rem;
  list-style: none;
  text-transform: uppercase;
}
.navbar__item-link {
  position: relative;
  padding: 1em 2em;
  color: #000;
}
.navbar__item-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #000;
  transform: scalex(0);
  transform-origin: right;
  transition: transform 0.3s;
}
.navbar__item-link:hover::after {
  transform: scalex(1);
  transform-origin: left;
}
.navbar__mobile-btn {
  padding: 0.5em;
  border: none;
  background-color: transparent;
  font-size: 2.6em;
  color: #000;
  cursor: pointer;
}
.navbar__mobile-btn-burger {
  display: flex;
}
.navbar__mobile-btn-burger--noactive {
  display: none;
}
.navbar__mobile-btn-close {
  display: none;
}
.navbar__mobile-btn-close--active {
  display: flex;
}
.navbar .show-menu {
  transform: translateX(0);
  opacity: 1;
}

@media (min-width: 992px) {
  .navbar__logo {
    font-size: 3.4rem;
  }
  .navbar__list {
    flex-direction: row;
    justify-content: space-between;
    position: static;
    height: 80px;
    width: auto;
    transform: translateX(0);
    opacity: 1;
    background: none;
    overflow: hidden;
  }
  .navbar__item {
    display: flex;
    align-items: center;
    height: 100%;
    margin-top: 0;
    font-size: 1.6rem;
  }
  .navbar__item-link, .navbar__item-link .contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    background-color: transparent;
    color: #000;
    transition: color 0.4s, background-color 0.4s;
  }
  .navbar__item-link:hover, .navbar__item-link .contact:hover {
    background-color: #000;
    color: #fff;
  }
  .navbar__item-link::after, .navbar__item-link .contact::after {
    display: none;
  }
  .navbar__mobile-btn {
    display: none;
  }
  .active {
    background-color: #000;
    color: #fff;
  }
}
.footer {
  position: relative;
  background-color: rgb(243, 239, 233);
}
.footer__box {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 300px;
}
.footer__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 0;
  font-size: 3.2rem;
  width: 100%;
}
.footer__menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  width: 100%;
}
.footer__menu-box {
  margin: 0;
  padding: 1em;
}
.footer__menu-title {
  margin-bottom: 1em;
  font-size: 1.8rem;
  text-align: center;
}
.footer__list {
  text-align: center;
  list-style: none;
}
.footer__item {
  margin-bottom: 0.6em;
  font-size: 1.6rem;
}
.footer__item a {
  color: rgb(0, 0, 0);
}
.footer__bottom-text {
  margin-top: 1em;
  padding: 2em;
  border-top: 1px solid gray;
  font-size: 1.2rem;
  text-align: center;
}

@media (min-width: 576px) {
  .footer__box {
    flex-direction: row;
  }
  .footer__logo {
    font-size: 4rem;
  }
}
@media (min-width: 992px) {
  .footer__menu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 1em;
  }
  .footer__logo {
    font-size: 5rem;
  }
  .footer__menu-title {
    margin: 0 0.5em 1.4em;
    font-size: 2.1rem;
    text-align: center;
  }
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

section {
  scroll-margin-top: 7.6rem;
}

a {
  text-decoration: none;
}

h2 {
  display: flex;
  justify-content: center;
  padding: 0.5em 2em;
  font-size: 2.6rem;
  text-transform: uppercase;
  font-weight: 100;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.wrapper {
  margin: 0 auto;
  padding: 0em 2.2em;
  width: 100%;
  max-width: 1400px;
}

.header {
  position: relative;
  margin-top: 80px;
  height: 100%;
  max-height: 600px;
  background-image: url(../img/jungle-1807476_1920.jpeg);
  background-size: cover;
  background-position: 0 70%;
  z-index: 0;
}
.header::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: -1;
  content: "";
}
.header__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  height: 40vh;
  min-height: 250px;
  max-height: 400px;
  color: white;
}
.header__text h1 {
  margin-top: 0.3em;
  font-size: 1.8rem;
}
.header__text p {
  font-size: 1.6rem;
}

.about-us {
  margin-top: 0;
  padding: 2em 0;
}
.about-us__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-us__img {
  padding: 1em 0;
}
.about-us__img img {
  width: 100%;
}
.about-us__text {
  padding: 1em 0;
}
.about-us__text h3 {
  font-size: 2rem;
}
.about-us__text p {
  padding: 1em 0;
  line-height: 2.2;
  font-size: 1.4rem;
}

.hero-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  background-image: url(../img/girl-5785590_1920.jpeg);
  background-position: center;
  background-size: cover;
}
.hero-section::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 7, 2, 0.5);
  content: "";
}
.hero-section h2 {
  padding: 0.8em 1.5em;
  color: white;
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
  border: 1px solid white;
  z-index: 1;
}

.offer {
  margin-top: 0;
  padding: 2em 0;
}
.offer__text {
  padding: 1em;
  font-size: 1.4rem;
  text-align: center;
}
.offer__cards {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: 1em;
}
.offer__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em 0;
  padding: 1em 1em;
  box-shadow: 0px 4px 11px -5px rgb(66, 68, 90);
  border-radius: 8px;
  transform: scale(100%);
  transition: transform 0.4s;
}
.offer__card:hover {
  transform: scale(98%);
}
.offer__card-title {
  margin-top: 1em;
  font-size: 2.5rem;
  font-weight: 400;
}
.offer__card-p {
  margin: 0.5em;
  font-size: 4.2rem;
  font-weight: 600;
}
.offer__card-list {
  list-style: none;
}
.offer__card-list-item {
  margin-top: 0.8em;
  font-size: 1.4rem;
}
.offer__card-btn {
  margin: 2.5em 0em 1em;
  padding: 0.7em 2em;
  width: 80%;
  border: none;
  background-color: transparent;
  border-radius: 8px;
  box-shadow: 0px 4px 11px -5px rgb(66, 68, 90);
  font-size: 1.4rem;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: black;
  transition: color 0.4s, background-color 0.4s, box-shadow 0.4s;
  cursor: pointer;
}
.offer__card-btn--midle {
  background-color: rgb(49, 219, 114);
  box-shadow: 0px 4px 11px -5px rgb(49, 219, 114);
}
.offer__card-btn:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  box-shadow: 0px 4px 11px -5px rgb(0, 0, 0);
}
.offer__more-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  padding: 0.5em;
  color: rgb(0, 0, 0);
  border: none;
  background: transparent;
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
  cursor: pointer;
}
.offer__more-link a {
  color: #000;
}
.offer .fa-arrow-right {
  margin-top: 0.5em;
  font-size: 3.5rem;
  transform: rotate(270deg);
  color: rgb(49, 219, 114);
}

.fa-check {
  padding-right: 0.3em;
  color: rgb(49, 219, 114);
}

.fa-minus {
  padding-right: 0.3em;
  color: rgb(129, 129, 129);
}

.noactive {
  color: rgb(129, 129, 129);
}

@media (min-width: 400px) {
  .offer__card {
    margin: 1em 5em;
    padding: 1em 2em;
  }
}
@media (min-width: 576px) {
  h2 {
    font-size: 3.2rem;
  }
  .header__text h1 {
    font-size: 2.6rem;
  }
  .header__text p {
    font-size: 2.4rem;
  }
  .about-us__text h3 {
    font-size: 2.4rem;
  }
  .about-us__text p {
    font-size: 1.6rem;
  }
  .hero-section h2 {
    padding: 0.8em 2.6em;
    font-size: 2.8rem;
  }
  .offer__text {
    font-size: 1.6rem;
  }
  .offer__cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  .offer__card {
    margin: 0.8em;
    padding: 1em 2em;
  }
  .offer__card-btn {
    width: 100%;
    padding: 0.7em 4em;
  }
}
@media (min-width: 768px) {
  h2 {
    font-size: 3.4rem;
  }
  .about-us__img {
    padding: 0.5em 2em;
  }
  .about-us__text {
    padding: 0.5em 2em;
  }
  .about-us__text h3 {
    font-size: 2.6rem;
  }
  .about-us__text p {
    padding: 1em 0;
    line-height: 2;
    font-size: 1.8rem;
  }
  .offer__title {
    font-size: 3.4rem;
  }
  .offer__text {
    font-size: 1.8rem;
  }
  .offer__card-btn {
    padding: 0.7em 5em;
  }
}
@media (min-width: 992px) {
  h2 {
    font-size: 4rem;
  }
  .wrapper {
    padding: 0 4em;
  }
  .header__text h1 {
    font-size: 3.4rem;
  }
  .header__text p {
    font-size: 2.6rem;
  }
  .about-us {
    padding: 3em 0;
  }
  .about-us__box {
    display: flex;
    flex-direction: row;
    align-items: start;
  }
  .about-us__img {
    padding: 2em 1em 2em 0;
    width: 50%;
  }
  .about-us__img img {
    width: 100%;
  }
  .about-us__text {
    padding: 2em 0 2em 1em;
    width: 50%;
  }
  .about-us__text h3 {
    font-size: 2.6rem;
  }
  .about-us__text p {
    padding: 0.5em 0;
    line-height: 2.2;
    font-size: 1.5rem;
  }
  .hero-section {
    min-height: 300px;
  }
  .hero-section h2 {
    padding: 0.8em 4em;
    font-size: 3.6rem;
  }
  .offer {
    padding: 3em 0;
  }
  .offer__text {
    font-size: 2rem;
  }
}
@media (min-width: 1200px) {
  .header__text h1 {
    font-size: 3.8rem;
  }
  .header__text p {
    font-size: 2.8rem;
  }
  .about-us__text p {
    font-size: 1.8rem;
  }
  .hero-section h2 {
    padding: 0.8em 4em;
    font-size: 4.2rem;
  }
}/*# sourceMappingURL=main.css.map */